{
  "extends": "@fintory/eslint-config",
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
